{{> header}}
{{> navigation}}

<div class="container">
    <div class="jumbotron">
        <h1>Einsatz von AJAX in Web-Anwendungen</h1>
        <p>Präsentation zur Hausarbeit</p>
        <p>
            Fach: IT Infrastruktur<br />
            Student: Till Schander<br />
            Dozent: Professor Dr. Münstermann<br />
            Datum: 05.07.14
        </p>
        <a href="/basics" class="btn btn-primary btn-lg">Start</a>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/markHeaderActive.js"></script>

{{> footer}}
