<form class="input-group search-form">
    <input placeholder="Search here ..." autocomplete="off" type="text" class="search-input form-control" />
    <span class="input-group-btn">
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
    </span>
</form>

<div class="tracks"></div>

<ul class="pager"></ul>

<footer class="text-center">
    <a href="//soundcloud.com"><img src="img/powered_by_soundcloud.png" alt="powered by soundcloud" /></a>
</footer>
